 

<app-navbar></app-navbar>

    <section class="first-section ">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active" data-bs-interval="2500">

                    <div id="box-1" class="carousel-box" >
                        <h4>old and trusworthy </h4>
                        <h1> We provide the best servicces. Since 1950 .</h1>
                        <button class="btn  btn-dark btn-lg">click here</button>
                        <button class="btn  btn-dark btn-lg">click here</button>
                    </div>


                </div>

                <div class="carousel-item" data-bs-interval="2500">
                    <div id="box-2" class="carousel-box">
                        <h4>Customer user friendly </h4>
                        <h1>  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, facilis!</h1>
                        <button class="btn btn-dark">click here</button>
                        <button class="btn btn-dark">click here</button>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="2500">
                    <div id="box-3" class="carousel-box">
                        <h4> Lorem ipsum dolor sit amet. </h4>
                        <h1> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati delectus fuga harum animi. .</h1>
                        <button class="btn btn-dark">click here</button>
                        <button class="btn btn-dark">click here</button>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="second-section">

        <img class="alexander-img" src=" assets/images/home/logo-1.jpg" alt=""  >

        <h3>The day will come when the man at the telephone will be able to see the distant person to whom he is
            speaking.</h3>



    </section>



    <section class="third-section">

        <div class="row">

            <div class="col-lg-6 left">
                 
                <img class="img-left" src="assets/images/home/image-7.jpg" alt="">
            </div>

            <div class="col-lg-6 right">
                <h3>Port to Voizfonica</h3>
                <h1 style="width: 100%; margin:auto ;padding-top:2rem">Switch to Voizfonica without changing number</h1>
                <button style="margin-top: 2rem;" class="btn-dark btn-lg">Views Plans</button>
            </div>


        </div>




    </section>




    <section class="services">

        <h1>SERVICES</h1>

        <div class="row card-box">


            <div class="col-sm-3 card-boxes">
                <div class="card border border-5">
                    <div class="card-body">
                        <h3 class="card-title"> Pre-Paid</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a   (click)="moveToPrepaid()" class="btn btn-primary">See plans</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-3 card-boxes">
                <div class="card border border-5">
                    <div class="card-body">
                        <h3 class="card-title">  Post-Paid</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a (click)="moveToPostpaid()"   class="btn btn-primary">See plans</a>
                    </div>
                </div>
            </div>



            <div class="col-sm-3 card-boxes">
                <div class="card border border-5">
                    <div class="card-body">
                        <h3 class="card-title">Dongle</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a  (click)="moveToDongle()"  class="btn btn-primary">See plans</a>
                    </div>
                </div>
            </div>
        </div>



    </section>



    <section class="fourth-section">

        <img class="alexander-img" src="assets/images/home/logo-2.jfif" alt=""  >

        <h3>The day will come when the man at the telephone will be able to see the distant person to whom he is
            speaking.</h3>



    </section>



    <section id="about" class="about">

        <h1>What We Do</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quibusdam laboriosam aliquid non vero
            libero?</p>

        <div class="row">
            <div class=" col-lg-3">
                <i class="icons fa-solid fa-calendar-days"></i>
                <p>
                    3468 Days Worked
                </p>
            </div>
            <div class=" col-lg-3">
                <i class="icons fa-solid fa-check"></i>
                <p>
                    300
                    project finished and counting
                </p>
            </div>
            <div class=" col-lg-3">
                <i class="icons fa-solid fa-mug-hot"></i>
                <p>
                    1526
                    coffee cup

                </p>
            </div>
            <div class=" col-lg-3">
                <i class="icons fa-solid fa-face-grin-beam"></i>
                <p>
                    856
                    clients satisfied
                </p>
            </div>

        </div>

    </section>


    <section class="clients">
        <h1>clients</h1>

        <div class="row clients-boxes">

            <div class="col-lg-3">
                <img class="logo img-fluid" src="assets/images/home/reddit-logo.png" alt="">
            </div>

            <div class="col-lg-3">
                <img class="logo img-fluid" src=" assets/images/home/twitter-logo.png" alt="">
            </div>

            <div class="col-lg-3">
                <img class="logo img-fluid" src=" assets/images/home/youtubelogo.webp" alt="">
            </div>

            <div class="col-lg-3">
                <img id="logo4" class="logo img-fluid" src="assets/images/home/windows.webp" alt="">
            </div>

        </div>



    </section>


<section id="contact" class="contact">
    <h1>contact us</h1>
    <div class=" contact-container container-fluid">
        <form action="action_page.php">
      
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
      
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
      
        </form>
      </div>

</section>



<app-before-footer></app-before-footer>
<app-footer></app-footer>