<p>resetpassword works!</p>
<div class="bootstrap-wrapper">
    <div class="container  ">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container" style="max-width:600px;background-color:white">
                    <!-- {{user|json}} -->
                    <form class='card p-3' (ngSubmit)="updatepassword()">
                        <!-- <div class="container">
                        <img class="mx-auto d-block" src="../../assets/logo.jpg" alt="" style="width:200px;">
                    </div> -->
                        <h2 class="container text-center ">Reset Password</h2>

                        <!-- Email-->
                        <div class="form-group">
                            <label class="font-weight-bold" for="email">Enter Phone Number</label>
                            <input name="email" type="number" class="form-control" id="email"
                                placeholder="Enter Phone Number" [(ngModel)]="user.mobileNumber">

                        </div>

                        <!-- New password-->
                        <div class="form-group">
                            <label class="font-weight-bold" for="email">Enter New Password</label>
                            <input name="email" type="password" class="form-control" id="email"
                                placeholder="Enter New Password" required ngModel #email="ngModel"
                                [(ngModel)]="user.password">

                        </div>
                        <br>




                        <div class="container">
                            <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>