 
    <section class="bottom">

        <div class="row">

            <div class="col-lg-4  bottom-boxes">
                <h5>Contact</h5>
                <p>voizFonica.official@gmail.com</p>
                <p>+91 9983323830</p>
                <p>CareerNet Campus, Ground Floor, Plot No.53, Devarabisana Halli, Outer Ring Road,Bellandur Post,
                    Bengaluru, Karnataka 560103</p>
            </div>
            <div class="col-lg-4 bottom-boxes">
                <h5>Follow me</h5>
                <i class="footer-icons fa-brands fa-facebook"></i>
                <i class="footer-icons fa-solid fa-envelope"></i>
                <i class="footer-icons fa-brands fa-linkedin"></i>
                <i class="footer-icons fa-brands fa-twitter"></i>

            </div>
            <div class="col-lg-4 bottom-boxes">
                <h5>Track us</h5>
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.620434385073!2d77.68393071464477!3d12.932099690881827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13a5d8b65847%3A0x76b673fa9124ec05!2sProdapt%20Solutions%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1656926978266!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>


        </div>

    </section>

