.form-control:valid {
    background-color: #d3f1f3 !important;
}

html body {
    background-color: rgba(0, 0, 0, 1.00);

}

.card {
    background-color: rgb(239, 255, 253);

}

body,
html {
    height: 100%;
}

.adjust-line-height {
    line-height: 2em;
}