<div class="bootstrap-wrapper">
    <div class="container  ">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">



                <!-- {{user|json}} -->
                <form class='card p-3' (ngSubmit)="formSubmit()">
                    <!-- <div class="container">
                        <img class="mx-auto d-block" src="../../assets/logo.jpg" alt="" style="width:200px;">
                    </div> -->
                    <h2 class="container text-center"> Start your journey with VoizFonica</h2>
                    <h2 class="container text-center "> Register Here</h2>

                    <!-- Username -->
                    <!-- <div class="form-group">
                        <label class="font-weight-bold" for="Username">USER NAME</label>
                        <input [(ngModel)]="user.username" name="username" type="text" class="form-control"
                            id="Username" placeholder="Enter your User name">

                    </div> -->
                    <!-- Email-->
                    <div class="form-group">
                        <label class="font-weight-bold" for="email">EMAIL</label>
                        <input [(ngModel)]="user.email" name="email" type="text" class="form-control" id="email"
                            placeholder="Enter your email id" required ngModel #email="ngModel">
                        <small class="text-danger" [class.d-none]="email.valid || email.untouched">
                            Email is
                            required !</small>






                    </div>
                    <!-- firstname -->
                    <div class="form-group">
                        <label class="font-weight-bold" for="text">FIRST NAME</label>
                        <input [(ngModel)]="user.firstName" name="firstName" type="text" class="form-control"
                            id="firstname" placeholder="Enter your First name" required ngModel #firstName="ngModel">
                    </div>



                    <!-- lastname -->
                    <div class="form-group">
                        <label class="font-weight-bold" for="text">LAST NAME</label>
                        <input [(ngModel)]="user.lastName" name="lastName" type="text" class="form-control"
                            id="lastname" placeholder="Enter your Last name" required ngModel #lastName="ngModel">
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label class="font-weight-bold" for="Username">PASSWORD</label>
                        <input [(ngModel)]="user.password" name="password" type="password" class="form-control"
                            id="password" required placeholder="Set your Password">
                    </div>

                    <!-- mobileno -->
                    <div class="form-group">
                        <label class="font-weight-bold" for="text">mobileno</label>
                        <input [(ngModel)]="user.mobileNumber" name="mobileNumber" type="text" class="form-control"
                            id="mobileNumber" required placeholder="Enter your mobileNumber">
                    </div>


                    <!-- Gender -->
                    <!-- <div class="form-group">
                        <label class="font-weight-bold" for="text">Gender</label>
                        <input [(ngModel)]="user.gender" name="gender" type="text" class="form-control" id="gender"
                            placeholder="Enter your gender">
                    </div> -->

                    <!-- <div class="form-check">
                        <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1"
                            aria-label="...">
                    </div> -->
                    <!-- <div class="form-check">
                        <input [(ngModel)]="user.gender" class=form-check-input" type="radio" name="gridRadios"
                            id="gridRadios1" value="option1">
                        
                        <label class="form-check-label" for="gridRadios1">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                            checked>
                        <label class="form-check-label" for="gridRadios1">
                            Female
                        </label>
                    </div> -->


                    <!-- 
                    <form>
                        <select name="dropdown" id="gender" [(ngModel)]="user.gender">
                            <option value="none" selected disabled hidden>
                                Select an Option
                            </option>
                            <option value="MALE">MALE</option>
                            <option value="FEMALE">FEMALE</option>
                            <option value="OTHERS">OTHERS</option>
                        </select>

                    </form> -->

                    <div class="form-group">
                        <label for="sel1">GENDER</label>
                        <select name="dropdown" class="form-control" id="sel1" [(ngModel)]="user.gender">
                            <option>Male</option>
                            <option>Female</option>

                        </select>
                    </div>





                    <!-- type
                    <div class="form-group">
                        <label class="font-weight-bold" for="text">type</label>
                        <input [(ngModel)]="user.type" name="type" type="text" class="form-control" id="type"
                            placeholder="Enter your type">
                    </div> -->

                    <!-- adhar
                    <div class="form-group">
                        <label class="font-weight-bold" for="text">adharNumber</label>
                        <input [(ngModel)]="user.adharNumber" name="adharNumber" type="text" class="form-control"
                            id="adharNumber" placeholder="Enter your adharNumber">
                    </div> -->








                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            I agree all the <a href="#!">Terms & Conditions</a>
                        </label>
                    </div>

                    <div class="adjust-line-height">
                        <span class="psw"> <a href="/login" style="color:black;"> Existing user? Click here</a></span>
                    </div><br>


                    <div class="container">
                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>




                </form>


            </div>
        </div>
    </div>




    <!-- </section> -->
    <!-- </div> -->




    <!-- <section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class=" justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c" class="form-control" />
                                            <label class="form-label" for="form3Example1c">Your Name</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" id="form3Example3c" class="form-control" />
                                            <label class="form-label" for="form3Example3c">Your Email</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="form3Example4c" class="form-control" />
                                            <label class="form-label" for="form3Example4c">Password</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="form3Example4cd" class="form-control" />
                                            <label class="form-label" for="form3Example4cd">Repeat your password</label>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox" value=""
                                            id="form2Example3c" />
                                        <label class="form-check-label" for="form2Example3">
                                            I agree all statements in <a href="#!">Terms of service</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="button" class="btn btn-primary btn-lg">Register</button>
                                    </div>

                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->