 

    <nav id="header" class="navbar navbar-expand-lg bg-primary   navbar-dark">

        <a  (click)="toHome()" routerLinkActive="active" class="navbar-brand"> <i class="fa-solid fa-house"><span> VoizFonica</span></i> </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>




        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="toService()"    > Service </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="toAbout()" (click)="toHome()" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"    >About </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="toContact()" (click)="toHome()" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"    > Contact us </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="toLogin()" routerLinkActive="active" href=""> Logout </a>
                </li>



            </ul>
        </div>
    </nav>
